#h1{
    position: absolute;
    left: 64px;
    top: 3px;
    font-family: Robot;
    color: #0067DB;
    
}
#nav{
    position: absolute;
    left: 694px;
    top:13px
  
}
#list1{
    display: flex;
    gap: 34px;
    list-style: none;
    font-weight: bold;
    color: #191E3B;
}
#btn1{
    position: absolute;
    left: 546px;
    top: 19px;
    border-radius: 20px  ;
    border-color:#FFFFFF;
}
#icon1{
    
    left: 9px;
    width: 23px;
}
#image1{
    position: absolute;
    left:-734px;
    height: 545px;
    width: 1364px;
    top: 63px;
    
}
#p1{
    position: absolute;
    top: 245px;
    left: -504px;
    font-size: 33px;
    font-weight: bolder;
    color: white;
}
#div2{
    position: sticky;
    top: 0px;
    margin-left: -534px;
    margin-top: 304px;
    border-radius: 20px;
    background-color: white;
    height: 64px;
    width: 1053px;
}
#btn5{
    
    position: absolute;
    left: 954px;
    width: 74px;
    height: 43px;
    border-radius: 30px 30px 30px 30px;
    background-color: #191E3B;
    color: white;
    top:10px   
     
    
    

}
#btn4{
    position: absolute;
    left: 644px;
    width: 294px;
    height: 43px;
    border-radius: 10px 10px 10px 10px;
    border-color:rgb(219, 214, 214);
    padding-right: 63px;
    top:10px 
}
#icon4{
    position: absolute;
    left: 14px;
    width: 33px;
}
 
#btn3{
    position: absolute;
    left: 324px;
    width: 294px;
    height: 43px;
    border-radius: 10px 10px 10px 10px;
    border-color:rgb(219, 214, 214);
    padding-right: 63px;
    top:10px
}
#icon3{
    position: absolute;
    left: 14px;
    width: 33px;
}
#btn2{
    position: absolute;
    left: 14px;
    width: 294px;
    height: 43px;
    border-radius: 10px 10px 10px 10px;
    border-color:rgb(247, 243, 243);
    padding-right: 63px;
    top:10px
}
#icon2{
    position: absolute;
    left: 12px;
    width: 33px;
    top: 2px;
}
#div3{
    position: absolute;
    background-color: #191E3B;
    color: white;
    width: 1134px;
    top: 634px; 
    left: -585px;
    border-radius: 10px;
}
#subdiv{
    /* position: absolute; */
    background-color: aquamarine;
    width: 43px;
    height: 43px;
    margin-top: 12px;
    border-radius: 240px;
}
#sms{
    position:absolute;
    top: 14px;
    left: 1px;
    height: 34px;
}
#p2{
    margin-left: 63px;
    margin-top: -29px;
}

#btn6{
    
    position: absolute;
    left: 1034px;
    background-color:#191E3B ;
    color: white;
    border: none;
     top:34px  
     
}

#Kigali{
    height: 184px;
    width: 263px;
    border-radius: 20px;

}
#Paris{
    height: 184px;
    width: 263px;
    border-radius: 20px;
}
#nairob{
    height: 184px;
    width: 263px;
    border-radius: 20px;
}
#dubai{
    height: 184px;
    width: 263px;
    border-radius: 20px;
}
#gisenyi{
    height: 184px;
    width: 263px;
    border-radius: 20px;
}
#ftr1{
    position: absolute;
    top: 144px;
    height: 44px;
    border-radius:0px 0px 20px 20px ;
    width: 240px;
    background-color: rgb(250, 244, 244);
    padding-left: 23px;
    padding-top: 20PX;
}
#ftr2{
    position: absolute;
    top: 144px;
    height: 44px;
    border-radius:0px 0px 20px 20px ;
    width: 240px;;
    background-color: rgb(250, 244, 244);
    padding-left: 23px;
    padding-top: 20PX;
    left: 286px;
}
#ftr3{
    position: absolute;
    top: 144px;
    height: 44px;
    border-radius:0px 0px 20px 20px ;
    width: 240px;;
    background-color: rgb(250, 244, 244);
    padding-left: 23px;
    padding-top: 20PX;
    left: 572px;
}
#ftr4{
    position: absolute;
    top: 144px;
    height: 44px;
    border-radius:0px 0px 20px 20px ;
    width: 240px;
    background-color:rgb(250, 244, 244);
    padding-left: 23px;
    padding-top: 20PX;
    left: 858px;
}
#ftr5{
    position: absolute;
    top: 144px;
    height: 44px;
    border-radius:0px 0px 20px 20px ;
    width: 240px;
    background-color:white;
    padding-left: 23px;
    padding-top: 20PX;
    left: 1144px;
}
#div4{

    position: absolute;
    top: 834px;
    display: flex;
    gap: 23px;
    left: 109px;
    
}
#p3{
    position: absolute;
    font-size: 34px;
    top: 739px;
    left: 109px;
}
#p4{
    position: absolute;
    font-size: 34px;
    top: 1039px;
    left: 109px;
}
#div5{

    position: absolute;
    top: 1134px;
    display: flex;
    gap: 23px;
    left: 109px;
    
}
#fern{
    border-radius: 20px;
    height: 323px;
    width: 292px;
}
#house{
    border-radius: 20px;
}
#fen{
    border-radius: 20px;
}
#chalet{
    border-radius: 20px;
}
#feny{
    border-radius: 20px;
    width: 292px;
}
#p5{
    position: absolute;
    top: 274px;
    left: 23px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: robot;

}
#p6{
    position: absolute;
    top: 274px;
    left: 333px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    font-family: robot;
}
#p7{
    position: absolute;
    top: 274px;
    left: 653px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: robot;
}
#p8{
    position: absolute;
    top: 274px;
    left: 953px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: robot;
}
#p9{
    position: absolute;
    top: 274px;
    left: 1223px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: robot;
}
#h2{
    position: absolute;
    top: 1495px;
    left: 109px;
    color: #191E3B;
    font-size: 43px;
}
#p10{
    position: absolute;
    top: 1565px;
    left: 109px;
}
#div6{
    position: absolute;
    display: flex;
    top: 1635px;
    left: 109px;
    gap: 27px;

}
 #sub2{
    
    background-color: green;
    width: 29px;
    height: 29px;
     padding-left: 3px; 
    /* margin-top: 133px; */
    position: absolute;
    top: 174px;
    border-radius: 10px;
    

} 
#p11a{
 position: absolute;
 left: 33px;
 top: -37px;
 color: #15161f;
}
#fi{
    position: absolute;
    top: 204px;
}
#p94{
    position: absolute;
    top: -13px;
    color: white;
}
#p11b{
    position: absolute;
 left: 162px;
 top: -30px;
 font-size: 12px;
 color: #191E3B;
}
#hs1{
    border-radius: 20px;
    
}
#p12{
    font-size: 18px;
    color: #191E3B;
    font-weight: bold;
}
#p13{
    margin-top: -13px;
    color: #191E3B;;
}
#p14{
    font-size: 23px;
    color: #191E3B;
    font-weight: bold;
}
#p15{
    margin-top: -23px;
    color: #191E3B;;
}

#second{
    
    background-color: green;
    width: 29px;
    height: 29px;
     padding-left: 3px; 
    /* margin-top: 133px; */
    position: absolute;
    top: 184px;
    left: 323px;
    border-radius: 10px;
    

} 

#p16{
 position: absolute;
 left: 33px;
 top: -37px;
 color: #15161f;
}
#fi1{
    position: absolute;
    top: 214px;
}
#sec1{
    position: absolute;
    top: -13px;
    color: white;
}
#p17{
    position: absolute;
 left: 162px;
 top: -30px;
 font-size: 12px;
 color: #191E3B;
}
#hs2{
    border-radius: 20px;
    height: 173px;
    width: 253px;
}
#p18{
    font-size: 18px;
    color: #191E3B;
    font-weight: bold;
}
#p19{
    margin-top: -13px;
    color: #191E3B;;
}
#p20{
    font-size: 23px;
    color: #191E3B;
    font-weight: bold;
}
#p21{
    margin-top: -23px;
    color: #191E3B;;
}
#third{
    
    background-color: green;
    width: 29px;
    height: 29px;
     padding-left: 3px; 
    /* margin-top: 133px; */
    position: absolute;
    top: 184px;
    left: 623px;
    border-radius: 10px;
    

} 

#p22{
 position: absolute;
 left: 33px;
 top: -37px;
 color: #15161f;
}
#fi2{
    position: absolute;
    top: 214px;
    left: 623px;
}
#sec2{
    position: absolute;
    top: -13px;
    color: white;
}
#p23{
    position: absolute;
 left: 112px;
 top: -30px;
 font-size: 12px;
 color: #191E3B;
}
#river{
    border-radius: 20px;
    height: 173px;
    width: 253px;
}
#p24{
    font-size: 18px;
    color: #191E3B;
    font-weight: bold;
}
#p25{
    margin-top: -13px;
    color: #191E3B;;
}
#p26{
    font-size: 23px;
    color: #191E3B;
    font-weight: bold;
}
#p27{
    margin-top: -23px;
    color: #191E3B;;
}
#fourth{
    
    background-color: green;
    width: 29px;
    height: 29px;
     padding-left: 3px; 
    /* margin-top: 133px; */
    position: absolute;
    top: 184px;
    left: 903px;
    border-radius: 10px;
    

} 

#p28{
 position: absolute;
 left: 33px;
 top: -37px;
 color: #15161f;
}
#fi3{
    position: absolute;
    top: 214px;
    left: 903px;
}
#sec3{
    position: absolute;
    top: -13px;
    color: white;
}
#p29{
    position: absolute;
 left: 159px;
 top: -30px;
 font-size: 12px;
 color: #191E3B;
}
#bri{
    border-radius: 20px;
    height: 173px;
    width: 253px;
}
#p30{
    font-size: 18px;
    color: #191E3B;
    font-weight: bold;
}
#p31{
    margin-top: -13px;
    color: #191E3B;;
}
#p32{
    font-size: 23px;
    color: #191E3B;
    font-weight: bold;
}
#p33{
    margin-top: -23px;
    color: #191E3B;;
}
#div7{
    position: absolute;
    display: flex;
    top: 2094px;
    gap: 12px;
    left: 109px
    
}
#hs6{
    height: 453px;
    width: 602px;
    border-radius: 30px;
}
#p34{
    font-size: 14px;
    color: #051049;
}
#p35{
    font-weight: bold;
    color: #191E3B;
}
#div8{
    position: absolute;
    top: 2644px;
    left: 109px;

}
#head2{
    color: #191E3B;
}
#p36{
    
    color: #191E3B;
    margin-top: -13px;
}
#p37{
    position: absolute;
    top: 74px;
    left: 184px;
    font-weight: bold;
    color: #191E3B;
}
.trip{
    /* position: absolute;
    top: 2794px;
    left: 109px */
    padding-top: 2856px;
    
}
.hs8{
    border-radius: 20px;
    width: 275px;
}
.d10{
    background-color: green;
    width: 29px;
    height: 29px;
     padding-left: 3px; 
     /* padding-top: ; */
     border-radius: 10px;
     margin-left: 13px;
     margin-top: 13px;
     color: white;
}
.trip-1{
    display: flex;
    gap: 12px;
}
#a10{
    text-align: center;
    margin-top: -1px;
}
.h4{
    color: #191E3B;
    margin-top: -12px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 19px;
}
.p39{
    margin-top: -12px;
    margin-left: 15px;
    color: #191E3B;
    
}
.p40{
    margin-left: 15px; 
    font-weight: bold;
    font-size: 19px; 
    color: #191E3B;
}
.p41{
    margin-top: -12px;
    margin-left: 15px;
    color: #191E3B;
}
#div9{
    display: flex;
    gap: 34px;
    padding-left: 107px;
}
.hs9{
    border-radius: 20px;
    width: 329px;
}
.hs10{
    border-radius: 20px;
    width: 295px; 
}
.hs11{
    border-radius: 20px;
    width: 275px;
}
#div10{
    display: flex;
    gap: 34px;
    padding-left: 107px;
}
#div10{
    padding-top: -234px;
    display: flex;
}
#man{
    height: 323px;
    border-radius: 20px;
}
#pool{
    height: 323px;
    width: 243px;
    border-radius: 20px; 
}
#land{
    height: 323px;
    width: 243px;
    border-radius: 20px; 
}
#p43{
 position: absolute;
 top: 3624px;
 left: 503px;
 color: white;
}
#p44{
    position: absolute;
    top: 3624px;
    left: 779px;
    color: white;
    font-weight: bolder;
   }
   #p45{
    position: absolute;
    top: 3624px;
    left: 1329px;
    color: white;
    font-weight: bolder;
   }
   #p45{
    position: absolute;
    top: 3624px;
    left: 1029px;
    color: white;
    font-weight: bolder;
   }
   #p46{
    position: absolute;
    top: 3604px;
    left: 1309px;
    color: white;
    font-weight: bolder;
   }
   #head3{
    color: #191E3B;
    font-size: 33px;
   }
   #p42{
        width: 312px;
        font-size: 18px;
   }
   #div10{
    background-color:hsl(190, 23%, 95%);
    width: 1434px;
    font-weight: bolder;
    padding-left: 33px;
    margin-left: 107px;
    border-radius: 30px;
    height: 373px;
    padding-top: 34px;
   }
   #div11{
    padding-top: -374px;
    margin-top: 34px;
    display: flex;
    padding-left: 103px;
    gap: 53px;
   }
   #id1{
    height: 53px;
   }
   #div11b{
    color: #191E3B;

   }
   #woman{
    border-radius: 30px;
    width: 1204px;
    margin-left: 107px;
   }
   #div12{
    position: absolute;
    top: 4123px;
    left: 153px;
    background-color: white;
    width: 424px;
    height: 354px;
    border-radius: 30px;
    
   }
   #head4{
    color: #191E3B;
    font-size: 33px;
    padding-left: 23px;
   }
   #p50{
    padding-left: 23px;
    color: #191E3B;
   }
   #ibtn{
    margin-left: 23px;
    background-color: #051049;
    width: 173px;
    height: 43px;
    color: white;
    border-radius: 30px;
   }
   #hed1{
    margin-left: 107px;
    color: #191E3B;
   }
   #p51{
    margin-left: 107px;
    color: #191E3B;
   }
   #p52{
    margin-left: 570px;
    margin-top: -34px;
    color: #0067DB;

   }
   #p53{
    margin-left: 645px;
    margin-top: -34px;
    color: #191E3B;
   }
   #p54{
    margin-left: 715px;
    margin-top: -34px;
    color: #0067DB;
   }
   #p56{
    margin-left: 825px;
    margin-top: -34px;
    color:#191E3B
   }
   #p57{
    margin-left: 107px;
    color: #191E3B;
    margin-top: -14px;
   }
   #p58{
    margin-top: -13px;
    margin-left: 107px;
    color: #0067DB;
   }
   #p59{
    margin-top: -33px;
    margin-left: 197px;
    color:#191E3B
   }
   #p60{
    margin-top: -33px;
    margin-left: 267px;
    color: #0067DB;
   }
   #p61{
    margin-top: -33px;
    margin-left: 317px;
    color:#191E3B
   }
   #p62{
    margin-left: 107px;
    margin-top: -14px;
    color: #191E3B;
    
   }
   #hed2{
    margin-left: 107px;
    color: #191E3B;
   }
   #p63{
    margin-left: 107px;
    color: #191E3B;
   }
   #p64{
    margin-left: 350px;
    margin-top: -33px;
     color: #0067DB;
   }
   #p67{
    margin-left: 397px;
    color: #191E3B;
    margin-top: -33px;
   }
   #p68{
   color: #191E3B;
   margin-left: 107px;
   margin-top: -13px;
    
   }
   #p69{
    margin-left: 240px;
    margin-top: -33px;
     color: #0067DB;
   }
   #p70{
    margin-left: 310px;
    margin-top: -33px;
     color:#191E3B
   }
   #p71{
    margin-left: 350px;
    margin-top: -33px;
     color: #0067DB;
   }
   #p72{
    margin-left: 430px;
    margin-top: -33px;
     color:#191E3B
   }
   #p73{
    margin-left: 740px;
    margin-top: -33px;
     color: #0067DB;
   }
   #p74{
    margin-left: 780px;
    margin-top: -33px;
     color:#191E3B
   }
   #p75{
    margin-left: 107px;
    margin-top: -19px;
    color:#191E3B
   }
   #hd1{
    margin-left: 107px;
    margin-top: 43px;
    color: #191E3B;
   }
   #hd2{
    margin-left: 109px;
    color: #191E3B;
    
   }
   #div14{
    display: flex;
    margin-top: 23px;
    margin-left: 107px;
    color:#0067DB;
    gap: 163px;
    

   }
    #p76{
    margin-top: -13px;
   } 
   #div15{
    margin-left: 107px;
    color: #191E3B;
   }
   #final{
    background-color: #F7F7F8;
    border-radius: 20px;
   }
   #der1{
    margin-left: 107px;
    color:#0067DB
   }
   #final{
    display: flex;
    height: 594px;
    
    
   }
   #div16{
    margin-left: -167px;
    margin-top: 63px;
    color:#0067DB
   }
   #div17{
    margin-left: 237px;
    margin-top: 63px;
    color:#0067DB
   }
   #div18{
    margin-left: 237px;
    margin-top: 63px;
    color:#0067DB
   }
   #p89{
    color: #191E3B;
    font-weight: bold;
   }
   #p90{
    margin-top: -73px;
    text-align: center;
    font-size: 14px;
    padding-top: 23px;
    margin-left: 43px;
    color: #191E3B;
    border-top: 1px solid #DFE0E4;
    width: 90%;
   }